################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BacktestAPI/BacktestArenaAPI/.vs/BacktestArenaAPI/FileContentIndex/b139e427-91a5-4e21-8fc3-93db93cb7cbc.vsidx
